.centerizing {
  display: flex;
  justify-content: center;
  align-items: center;
}
.noEventImage {
  width: 500px;
  margin: auto;
  height: auto;
}
.imageContainer {
  display: grid;
  place-items: center;
  margin-top: 100px;
}
